@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>
<h1>Ürünler</h1>
@if (TempData["Status"] != null)
{
    <h1>Ok</h1>
}
<a asp-controller="products" asp-action="add">  Ürün ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Açıklama</th>
             
           
            <th>Satış Süresi</th>
            <th>Yayın Durumu</th>
            <th>İşlem</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @if (@item.Description.Length<=20)
                    {
                        @item.Description.Length
                    }
                    else
                    {
                        @item.Description.Substring(0,20) <label>...</label>
                    }
                    
                    </td>
                <td>@item.Expire Ay</td>
                <td>
                    @if (@item.IsPublish)
                    {
                        <label>evet</label>
                         
                    }
                    else
                    {
                        <label>hayır</label>

                    }
                    </td>
               

                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                </td>
                <td>  <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a>        </td>


            </tr>
        }
    </tbody>


</table>

